{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Record - Clement Mabila</title>
    <link href="{% static '/css/main.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="sidebar-header">
                        <img src="{% static 'images/plash.jpg' %}" alt="Profile Picture" class="profile-img">
                        <h4>Clement Mabila</h4>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
                                <i class="fa-solid fa-house"></i> Main page
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/resume/' %}active{% endif %}" href="{% url 'resume' %}">
                                <i class="fa-solid fa-file-alt"></i> Resume
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/academic-record/' %}active{% endif %}" href="{% url 'academic_record' %}">
                                <i class="fa-solid fa-graduation-cap"></i> Academic Record
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/projects/' %}active{% endif %}" href="{% url 'projects' %}">
                                <i class="fa-solid fa-project-diagram"></i> Projects
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <main role="main" class="col-md-10 ml-sm-auto px-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-body border-info">
                            <h2>Academic Record</h2>
                            <p>Here you can find details of my academic achievements and coursework completed during my studies.</p>
                            <!-- Add details or a table of academic records -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Course</th>
                                        <th>Grade</th>
                                        <th>Year</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Example data; replace with your actual academic record -->
                                    <tr>
                                        <td>Introduction to Programming</td>
                                        <td>A</td>
                                        <td>2020</td>
                                    </tr>
                                    <tr>
                                        <td>Data Structures</td>
                                        <td>A</td>
                                        <td>2021</td>
                                    </tr>
                                    <!-- Add more records as needed -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
            </main>
        </div>
    </div>
</body>
</html>
