{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Clement Mabila</title>
    <link href="{% static '/css/main.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="sidebar-header">
                        <img src="{% static 'images/plash.jpg' %}" alt="Profile Picture" class="profile-img">
                        <h4>Clement Mabila</h4>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
                                <i class="fa-solid fa-house"></i> Main page
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/resume/' %}active{% endif %}" href="{% url 'resume' %}">
                                <i class="fa-solid fa-file-alt"></i> Resume
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/academic-record/' %}active{% endif %}" href="{% url 'academic_record' %}">
                                <i class="fa-solid fa-graduation-cap"></i> Academic Record
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/projects/' %}active{% endif %}" href="{% url 'projects' %}">
                                <i class="fa-solid fa-project-diagram"></i> Projects
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <main role="main" class="col-md-10 ml-sm-auto px-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-body border-info">
                            <h2>Projects</h2>
                            <p>Here are some of the projects I have worked on:</p>
                            <div class="list-group">
                                <a href="https://github.com/ClementMabila/Campus-navigation-sytem.git" class="list-group-item list-group-item-action">
                                    <h5 class="mb-1">Navigation System for Tshwane University of Technology Campus</h5>
                                    <p class="mb-1">This project is a web-based navigation system designed specifically for the Tshwane University of Technology campus. It utilizes the Google Maps API to provide users with an interactive map, allowing 
                                        them to easily locate their current position, select an 
                                        end destination, and plan a trip within the campus.</p>
                                    <small>Technologies used: Python, Django, Google Maps API</small>
                                </a>
                                <a href="https://github.com/ClementMabila/Thriftville-Hub.git" class="list-group-item list-group-item-action">
                                    <h5 class="mb-1">Thriftville Hub </h5>
                                    <p class="mb-1">Thriftville Hub is an innovative online marketplace designed to connect buyers and sellers of second-hand goods in a 
                                        seamless and user-friendly environment. The platform aims to promote sustainable shopping by 
                                        facilitating the trade of pre-loved items, 
                                        helping users save money and reduce waste.</p>
                                    <small>Technologies used: Python, JavaScript</small>
                                </a>
                                <a href="https://github.com/ClementMabila/Ability-Assist-Project-Repo.git" class="list-group-item list-group-item-action">
                                    <h5 class="mb-1">SecureNote</h5>
                                    <p class="mb-1">is a robust application built using Django and React
                                         that ensures secure login and token validation for a seamless and safe user experience. 
                                         This project features a note writing and storing system designed for multiple users, where each user's data is kept private and accessible only to them. Leveraging the power of Django for the backend and React for the frontend, SecureNote guarantees the confidentiality and 
                                        integrity of user information, providing a reliable solution for personal note management.</p>
                                    <small>Technologies used: Python, JavaScript, React</small>
                                </a>
                                <a href="https://github.com/ClementMabila/Fuelmaster.git" class="list-group-item list-group-item-action">
                                    <h5 class="mb-1">FuelMaster</h5>
                                    <p class="mb-1"><p>is an advanced petrol garage management system developed using Django 
                                        and integrated with Google Maps API. This application allows multiple garages to manage their fuel types and prices efficiently through a user-friendly Django admin interface
                                        By leveraging the Google Maps API, FuelMaster provides real-time location tracking and easy navigation to the nearest petrol garages. This system streamlines the operations of petrol garages, providing a centralized platform to ensure accurate and up-to-date fuel pricing, 
                                        enhancing the overall customer experience.</p>
                                    <small>Technologies used: Python, HTML, CSS, Django Rest Framework</small>
                                </a>
                                <!-- Add more projects as needed -->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </main>
        </div>
    </div>
</body>
</html>
